$env:FOUNDRY_ENDPOINT= <>
$env:FOUNDRY_API_KEY=<>
$env:FOUNDRY_PROJECT_ENDPOINT=<>
$env:LLM_MODEL_DEPLOYMENT_NAME_KIMI=<>
$env:COSMOSDB_ENDPOINT=<>
$env:COSMOSDB_KEY=<>
$env:ACA_MCP_SERVER_OPEN_WEB_SEARCH_FQDN=<>
$env:APP_SERVICE_MCP_SERVER_OPEN_WEB_SEARCH_FQDN=<>
$env:SESSIONPOOL_MANAGEMENT_ENDPOINT_SHELL=<>
$env:SESSIONPOOL_MANAGEMENT_ENDPOINT_PYTHON=<>
$env:SESSIONPOOL_MCP_ENDPOINT_SHELL=<>
$env:SESSIONPOOL_MCP_ENDPOINT_PYTHON=<>
