export RG_NAME=rg-aks-argo-586836407
export LOCATION=swedencentral
export AKS_NAME=argo-aks-cluster586836407
export USER_ASSIGNED_IDENTITY_NAME=argo-identity-586836407
export USER_ASSIGNED_IDENTITY_CLIENT_ID=370c507e-c87a-40ea-bb71-f6316a7abd24
export ACR_NAME=argoacr586836
export ACR_LOGIN_SERVER=argoacr586836.azurecr.io
export NAME_SUFFIX=586836407
export SHORT_SUFFIX=586836
export K8S_VERSION=1.34
export AKS_CLUSTER_ID=/subscriptions/cb5b077c-3ef5-4b2e-83e5-490cc5ca0e19/resourcegroups/rg-aks-argo-586836407/providers/Microsoft.ContainerService/managedClusters/argo-aks-cluster586836407
export AKS_CLUSTER_FQDN=argo-aks-c-rg-aks-argo-5868-cb5b07-x8luu616.hcp.swedencentral.azmk8s.io
export AKS_OIDC_ISSUER=https://swedencentral.oic.prod-aks.azure.com/16b3c013-d300-468d-ac64-7eda0820b6d3/cd3befb9-63f8-4508-825a-28f0961648c3/
export KV_NAME=kv-6319
export KV_URI=https://kv-6319.vault.azure.net/
export APP_INSIGHTS_CONNECTION_STRING=InstrumentationKey=b9d3f45d-55aa-41e9-a6a6-8639b06275c9;IngestionEndpoint=https://swedencentral-0.in.applicationinsights.azure.com/;LiveEndpoint=https://swedencentral.livediagnostics.monitor.azure.com/;ApplicationId=421a7931-585f-4472-abeb-be1ee8975707
