export RG_NAME=aksresourcegroup310181097
export LOCATION=uksouth
export AKS_NAME=akscluster310181097
export USER_ASSIGNED_IDENTITY_NAME=aks-mcp-identity310181097
export ACR_NAME=ftacr310181097
export SERVICE_ACCOUNT_NAME=aks-mcp
export SERVICE_ACCOUNT_NAMESPACE=kube-system
export SUBSCRIPTION=cb5b077c-3ef5-4b2e-83e5-490cc5ca0e19
export FEDERATED_IDENTITY_CREDENTIAL_NAME=
export OIDC_ISSUER_URL=https://uksouth.oic.prod-aks.azure.com/16b3c013-d300-468d-ac64-7eda0820b6d3/3fdd8348-230d-4847-9d1b-5bbc05116e6f/
export KV_NAME=ft-kv-6527
export KV_URI=https://ft-kv-6527.vault.azure.net/
export TENANT_ID=16b3c013-d300-468d-ac64-7eda0820b6d3
export LOG_WORKSPACE_NAME=mylogs310181097
